.a {
  border: 1px solid red;
}

label {
  text-transform: capitalize;
}

input {
  width: 100%;
}
.semCep {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}